{% extends 'main/base.html' %}
{% block content %}
	<style type="text/css">
		.emp-profile{
		    padding: 3%;
		    margin-top: 3%;
		    margin-bottom: 3%;
		    border-radius: 0.5rem;
		    background: #fff;
		}	
		.profile-img{
		    text-align: center;
		}
		.profile-img img{
		    width: 70%;
		    height: 50%;
		}
		.profile-img .file {
		    position: relative;
		    overflow: hidden;
		    margin-top: -20%;
		    width: 70%;
		    border: none;
		    border-radius: 0;
		    font-size: 15px;
		    background: #212529b8;
		}
		.profile-img .file input {
		    position: absolute;
		    opacity: 0;
		    right: 0;
		    top: 0;
		}
		.profile-head h5{
		    color: #333;
		}
		.profile-head h6{
		    color: #0062cc;
		}
		.profile-edit-btn{
		    border: none;
		    border-radius: 1.5rem;
		    width: 70%;
		    padding: 2%;
		    font-weight: 600;
		    color: #6c757d;
		    cursor: pointer;
		}
		.profile-work{
		    padding: 14%;
		    margin-top: -15%;
		}
		.profile-work p{
		    font-size: 12px;
		    color: #818182;
		    font-weight: 600;
		    margin-top: 10%;
		}
		.profile-work a{
		    text-decoration: none;
		    color: #495057;
		    font-weight: 600;
		    font-size: 14px;
		}
		.profile-work ul{
		    list-style: none;
		}
		.profile-tab label{
		    font-weight: 600;
		}
		.profile-tab p{
		    font-weight: 600;
		    color: #0062cc;
		}
	</style>
	<div class="container">
		<h1 align="center">Welcome {{user.first_name|title}}!</h1>
		<div class="container emp-profile">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{user.member_pic.url}}" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{user.first_name |title}} {{user.last_name|title}}
                                    </h5>
                                    <h6>
                                        Teacher
                                    </h6>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'update' %}" type="submit" class = "btn btn-outline-secondary profile-edit-btn">Edit Profile</a>
                        <a href="{% url 'add-student' user.id %}" type="submit" class = "btn btn-outline-secondary profile-edit-btn">Add Student</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>MESSAGES</p>
                            <a href="{% url 'inbox' %}" type="submit">Inbox - {{unread.count}}</a><br/>
                            <a href="{% url 'sentbox' %}" type="submit">Sentbox</a><br/>
                            <a href="{% url 'send-text' %}" type="submit">Send Text</a><br/>            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p>PERSONAL INFO</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.phone}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Mobile Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.mobile_phone}}</p>
                                            </div>
                                        </div>
                        	</div>
                		</div>
                	</div>
                </div>
            </form>           
        </div>
        <div class="container emp-profile">
          
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                        <a href="{% url 'create-event' %}" type="submit" class = "btn btn-outline-secondary btn-sm">Create Event</a><br>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            			<hr>
                                        <p>YOUR CLASSES</p>
                                        {% if classroom %}
                                        		<p><a href="{% url 'view-class' classroom.id %}">CLASS: {{classroom.classroom}}</a></p>
	                                        	<table class="table table-striped">
												  <thead>
												    <tr>
												      
												      <th scope="col">Student Name</th>
												      <th scope="col">Student Surname</th>
												      <th scope="col">Student Age</th>
												      <th scope="col">Parent Name</th>
												      <th scope="col">View</th>
												      <th scope="col">Update</th>
												      <th scope="col">Delete</th>
												    </tr>
												  </thead>
												  <tbody>
												  	{% for stu in classroom.attendingstudent.all %}
													    <tr>
													      
													      <td>{{stu.first_name|title}}</td>
													      <td>{{stu.last_name|title}}</td>
													      <td>{{stu.age}}</td>
													      <td>{{stu.parent.first_name|title}} {{stu.parent.last_name|title}}</td>
													      <td><a href="{% url 'student-details' stu.id %}" type="submit" class="btn btn-outline-secondary btn-sm">View</a></td>
													      <td><a href="{% url 'update-student' stu.id %}" type="submit" class="btn btn-outline-secondary btn-sm">Update</a></td>
													      <td><a href="#" class="btn btn-outline-danger btn-sm">Delete</a></td>
													    </tr>
												    {% endfor %}
												  </tbody>
												</table>
										{% else %}
											<p>You are not assigned to any class at the moment.</p>
                                        {% endif %}
                        	</div>
                		</div>
                	</div>
                </div>
            </form>           
        </div>
	</div>
	
{% endblock %}